.image {
    max-width: 626px;
    width: 100%;
}
.canvas-img {
    width: 100%;
    max-width: 1080px;
    overflow: hidden;
    padding: 20px;
}
.konvajs-content {
    margin: 10px;
}
.stage{
    outline: none;
}